# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/

# Test results
TestResults.xml

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

/generated/prisma/*
!/generated/prisma/__mocks__/
!/generated/prisma/__mocks__/**
